* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #303133;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 105%;
  color: white;
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
}

img {
  display: flex;
  justify-content: flex-start;
  height: 150px;
  border: solid 2px #fff;
  border-radius: 4px;
}

#face-button {
  display: flex;
  align-items: center;
}

#App {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 5px solid black;
  border-radius: 3px;
  box-shadow: 3px 5px 15px 0px rgba(0, 0, 0, 0.72);
}
.btn-facebook {
  background-color: black;
  border: none;
}

ul {
  list-style: none;
}

#challenges {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#login-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: black;
  border-radius: 10px;
  padding: 10em;
  width: 40vw;
  height: 40vh;
}

#nav {
  padding: 3vh;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 10vh;
  background-color: #103282;
}

#main-container,
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#user-info {
  background-color: rgb(71, 9, 26);
  width: 100%;
  height: 80vh;
  border-radius: 0px 0px 0px 14px;
  padding: 10px;
}

#scoreboard {
  background-color: rgb(110, 109, 109);
  width: 30%;
  height: 80vh;
  border-radius: 0px 0px 14px 0px;
  overflow-y: auto;
}

#scoreboard-title {
  border-bottom: 1px solid black;
  text-align: center;
  padding: 10px;
}

#player {
  padding: 3px;
  border-bottom: 1px solid black;
  padding: 10px;
}
