* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oleo Script', Helvetica, sans-serif;
  font-size: 105%;
  color: white;
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 9, 1) 35%,
    rgba(0, 69, 255, 1) 100%
  );
}

#login-container {
  background-color: black;
  width: 40vw;
  height: 40vh;
}

#nav {
  width: 100vw;
  height: 10vh;
  background-color: red;
}

#main-container {
  display: flex;

  justify-content: space-between;
}

#user-info {
  background-color: black;
  width: 40vw;
  height: 40vh;
}

#score-board {
  background-color: grey;
  width: 30vw;
  height: 80vh;
}
